<!DOCTYPE HTML>
<html>
<head>
	<title> {% block title %} Bienvenidos {% endblock %} </title>
	<link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="/media/css/excite-bike/jquery-ui-1.10.3.custom.css">


	<script type="/media/js/ajax.js"></script>
	<script type="/media/js/jquery.js"></script>
	<script type="/media/js/jquery-ui.js"></script>
	<script type="/media/boostrap/js/boostrap.js"></script>
	<style type="text/css">
		body{
			padding-top: 60px;
			padding-bottom: 40px;
		}
		.hero-unit{   padding-top: 39px;}
		.sidebar-nav{  padding: 9px;}

	</style>
<body>
	<div class = "navbar navbar-inverse navbar-fixed-top">
		<div class = "navbar-inner">
			<a class="brand" href="{% url 'vista_index' %}"> Catalogo Productos</a>
			<ul class="nav">
				<li><a href="/productos/page/1">Producto</a></li>
				<li><a href="{% url 'vista_about' %}">Acerca de ...</a></li>
				<li><a href="{% url 'vista_contacto' %}">Contacto</a></li>
				{% if user.is_authenticated %}
					
					<li><a href="{% url 'vista_agregar_producto'%}">Agregar producto </a></li>
					<li><a href="{% url 'vista_logout'%}">Cerrar Sesion </a></li>
				{% else %}
					<li><a href="{% url 'vista_login'%}">Login</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class ="span9">
				<div class="hero-unit">
					{% block content %}
					{% endblock %}
				</div>
			</div>
			<div class="span3">
				<div class="well sidebar-nav">
					<div class ="nav nav.list">
						<li class = "nav-header">Mi catalogo</li>
						<br>
						<h4>Informacion</h4>
						<div class ="alert alert-info">
							<h5>Mi catalogo virtual</h5>
							<p><b>Direccion</b> : Cra1# 12-100</p>
							<p><b>Telefono</b> : 8 393939</p>
							<p>314 690 6853</p>
							<p>Popayan</p>
						</div>
						<div align="center">
							<img src="/media/images/nata.png" >
						</div>
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>
</body>	
</head>	
</body>
</html>